.blog {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-top {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.blog-top > img {
  align-self: center;
}
.blog-top > h3 {
  margin: 0.904rem 6.156rem 1.188rem 3.469rem;
  align-self: center;
  font-size: 2.25rem;
  font-weight: normal;
  font-stretch: normal;

  color: #374b5c;
}
.blog-top > p {
  width: 35.5rem;
  height: 2.625rem;
  margin: 1.188rem 1.207rem 5rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #374b5c;
}

.blog-bottom {
   display: flex;
  flex-direction: column;
  margin: 0 0 50px 0;
  padding: 0 0 50px 0;
}
/* cards */

.blog_cards {
   display: flex;

  /* flex-direction: row; */
  /* justify-content: space-between; */
  width: 80vw;
  max-width: 1000px;
  align-self: center;
  display: grid;
  gap: 2rem;
}

.blog_card {
  color: rgb(0, 0, 0);
  width: 17.375rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75); */
  

  /* padding: 10px; */
  /* align-items: flex-start; */
}

@media screen and (min-width: 768px) {
  .blog_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog_card > h6:hover {
  transform: scale(1.09);
}
.blog_card > h4 {
  font-size: 1.125rem;
  font-weight: normal;

  text-align: center;
  color: #00dbd0;
}
 
.blog_card > p {
  
  margin: 0.563rem 2.75rem 0.688rem;
   font-size: 0.875rem;
  font-weight: normal;
   
  text-align: center;
  color: #374b5c;
}
.blog_card > h6 {
   
  margin: 0.688rem 6.563rem 0.656rem;
   font-size: 0.875rem;
  
  font-weight: normal;
   cursor: pointer;
  text-align: center;
  color: #374b5c;
  border-bottom: 2px solid #00dbd0;
  
}

.blog_card > img {
  width: 17.375rem;
  padding: 10px;
  border-radius: 30px 30px 0px 0;
  height: 12.188rem;
  margin: 0 0 1.125rem;
  object-fit: contain;
  /* border-radius: 50%; */
}
